:root {
  --yellow: #ffc017;
  --black: #191919;
  --green: #1a8917;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Spectral", serif;
}

.topbar {
  background-color: var(--yellow);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  width: 100%;
  height: 75px;
  background-color: var(--yellow);
  border-bottom: 1px solid var(--black);
}
.inner-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1192px;
  padding: 0 4rem;
  font-size: 0.85rem;
}
header .logo {
}
header img {
}
nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.topbar nav a {
  color: var(--black);
  text-decoration: none;
}
.topbar button {
  background-color: var(--black);
  border: 0;
  color: white;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
}
.hero-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 455px;
  margin-top: 75px;
  border-bottom: 1px solid var(--black);
}
.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 75px;
}
.hero-bg svg {
  height: 455px;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 4rem);
  height: 100%;
  max-width: 1192px;
  padding: 25px 0rem 25px 4rem;
}
.hero h1 {
  font-size: 7rem;
  margin-bottom: 35px;
  letter-spacing: -7px;
  font-weight: 500;
}
.hero h3 {
  width: 80%;
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.hero button {
  font-size: 1.25rem;
  width: fit-content;
  padding: 0.6rem 3rem;
}
main {
  max-width: 1192px;
}
.trending {
}
.trending h3 {
}
.top-trending {
}
.trending-cell-number {
}
.trending-cell-details {
}
.author {
}
.author img {
}
.author a {
}
.trending-cell-details h5 {
}
.other-cell-details {
}
.edit {
}
.spacing-symbol {
}
.reading-time {
}
.m-discover-more {
}
.categories {
}
.discover-more {
}
.more-articles {
}
.article-details {
}
.article-details h5 {
}
.article-details p {
}
.article-details .category {
}
.article-details img {
}
.mobile-app-st {
}
.article > img {
}
aside {
}
aside h3 {
}
aside .categories {
}
aside .categories a {
}
aside h5 {
}
aside footer {
}
aside footer nav {
}
aside footer nav a {
}
#m-footer {
}
#m-footer img {
}
#m-footer nav {
}
#m-footer nav a {
}
#m-footer strong {
}
.mobile-app-stores {
}
.mobile-app-stores a {
}
.mobile-app-stores a img {
}
