:root {
  --yellow: #ffc017;
  --black: #191919;
  --green: #1a8917;
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
h1 {
  font-family: "Spectral", serif;
}
a {
  color: var(--black);
  text-decoration: none;
}
button {
  cursor: pointer;
  background-color: var(--black);
  border: 0;
  color: white;
  border-radius: 2rem;
  padding: 0.75rem 1.2rem;
}

/* ! TOPBAR */

.topbar {
  background-color: var(--yellow);
  width: 100%;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  border-bottom: 1px solid var(--black);
  height: 530px;
}

/* * header  */

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  width: 100%;
  height: 75px;
  font-size: 14px;
  background-color: var(--yellow);
  border-bottom: 1px solid var(--black);
}
.inner-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1192px;
  padding: 0 4rem;
}
header .logo {
}
header img {
}
nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.topbar nav a {
  margin-right: 25px;
}
.topbar nav a:last-child {
  margin-right: 0;
}
.topbar button {
}

/* * hero-box  */

.hero-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 75px;
  max-width: 1192px;
  padding: 25px 4rem;
}
.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 75px;
}
.hero-bg svg {
}

/* * hero  */

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.hero h1 {
  font-size: 106px;
  margin-bottom: 35px;
  letter-spacing: -0.05em;
  line-height: 95px;
  font-weight: 500;
}
.hero h3 {
  width: calc(40%);
  font-size: 24px;
  margin-bottom: 50px;
}
.hero button {
  font-size: 1.25rem;
  width: fit-content;
  padding: 0.6rem 3rem;
}

@media screen and (max-width: 903px) {
  .hero h1 {
    font-size: 85px;
    line-height: 88px;
    letter-spacing: -0.055em;
  }
}
@media screen and (max-width: 728px) {
  .hero-bg {
    display: none;
  }
}
@media screen and (max-width: 551px) {
  .hero h1 {
    font-size: 70px;
    line-height: 74px;
    letter-spacing: -0.05em;
  }
}

/* ! MAIN */

main {
  max-width: 1192px;
  padding: 0 4rem;
}

/* * trending  */

.trending {
  border-bottom: 1px solid #f2f2f2;
  padding: 40px 0 16px 0;
}
.trending h3 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.trending h3::before {
  content: url(../imgs/svg/trending.svg);
  margin-right: 0.75rem;
}
.top-trending {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  row-gap: 2rem;
}
.trending-cell {
  display: flex;
  align-items: center;
  align-items: flex-start;
  width: 30%;
  margin-top: 0.5rem;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
}
.trending-cell-number {
  font-size: 2rem;
  font-weight: 800;
  color: #f2f2f2;
  margin-right: 1rem;
}
.trending-cell-details {
  margin-bottom: 24px;
}
.author {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.author img {
  width: 1.25rem;
  border-radius: 25%;
  margin-right: 8px;
}
.author a {
  font-size: 13px;
}
.trending-cell-details h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.other-cell-details {
  display: flex;
  font-size: 13px;
}
.edit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spacing-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reading-time {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star::after {
  content: url(../imgs/svg/star.svg);
}
@media screen and (max-width: 1080px) {
  .trending-cell {
    max-width: 47%;
    flex-basis: 47%;
  }
}
@media screen and (max-width: 727px) {
  main {
    padding: 0;
  }
  .trending-cell {
    max-width: 90%;
    flex-basis: 90%;
  }
}

/* TODO m-discover-more  */

.m-discover-more {
  padding-top: 24px;
  padding-bottom: 24px;
  display: none;
}
.m-discover-more h3 {
  padding-bottom: 16px;
  font-weight: 500;
}
.m-discover-more .categories {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}
.m-discover-more .categories a {
  margin-bottom: 10px;
}
.m-discover-more h5 {
  margin-top: 14px;
  color: #1a8917;
}
@media screen and (max-width: 903px) {
  .m-discover-more {
    display: flex;
    flex-direction: column;
  }
}

/* * discover-more  */

.discover-more {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr));
  grid-template-rows: 1fr;
  padding-top: 56px;
}
.more-articles {
  grid-row-start: 1;
  grid-column: 1 / span 7;
  padding: 12px 0;
}
article {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article-details {
  margin-right: 20px;
}
.article-details h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.article-details p {
  padding-top: 4px;
}
article .other-cell-details {
  padding-top: 8px;
}
article .edit {
}
article .reading-time {
}
article .spacing-symbol {
}
article .reading-time {
}
article .category {
  background-color: #f2f2f2;
  padding: 2px 10px;
  border-radius: 2rem;
  line-height: 22px;
}
article .other-cell-details a {
  margin-left: auto;
  filter: contrast(25%);
}
article .other-cell-details a:hover {
  filter: contrast(100%);
}
article > img {
  width: 30%;
}
aside {
  grid-column: 9 / span 4;
  grid-row-start: 1;
  /* display: block; */
}
aside .sticky-aside {
  position: sticky;
  top: 107px;
}
aside h3 {
  padding-bottom: 16px;
  font-weight: 500;
}
.categories {
  border-bottom: 1px solid #f2f2f2;
}
.categories nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.categories a {
  font-size: 14px;
  line-height: 20px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  padding: 8px 16px;
  border-radius: 2rem;
}
aside h5 {
  color: #1a8917;
  margin-top: 14px;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 32px;
}
aside footer {
  padding: 24px 0;
}
aside footer nav {
  display: flex;
  flex-wrap: wrap;
}
aside footer nav a {
  font-size: 14px;
  line-height: 20px;
  color: #6b6b6b;

  margin-right: 26px;
  margin-bottom: 8px;
}

@media screen and (max-width: 903px) {
  aside {
    display: none;
  }
}

/* TODO FOOTER */

#m-footer {
  display: none;
}
#m-footer img {
}
#m-footer nav {
}
#m-footer nav a {
}
#m-footer strong {
}
.mobile-app-stores {
}
.mobile-app-stores a {
}
.mobile-app-stores a img {
}

/* ! MEDIA QUERY */

@media screen and (max-width: 903px) {
}
